<%- include("partials/header.ejs") %>
 
<main class="main">
    <div class="left">
        <h5>Travel Blog</h5>
        <h1>never stop <br>
        exploring the <br>
        world
        </h1>
        <h4>explore it from your home!</h4>
    </div>
    <div class="right">
        <a href="/new">Create a New Post</a>
    </div>
</main>



<%- include("partials/footer.ejs") %>

