<div class="form-group">
<input name="title" type="text" id="title" placeholder="Post title"><br>
<input name="post" type="text" id= "post" placeholder="write your post.."><br>
<!--<input type="file" id="img-input" name="image">
-->
<button class="edit" type="post"  href="/create-post">Post</button>
<a href="/cancel"><button class="cancel" type="button">Cancel</button></a>
</div>
