<%- include("partials/header.ejs") %>
<div class="container">
    <h1 class="mb-4">New Post</h1>
    <form action="/new-post"  method="POST">
        <%- include('form.ejs') %>
    </form>
</div>
<%- include("partials/footer.ejs")%>