body{
    margin: 0px;   
}

.main{
    background-image: url("../images/homebackground.jpeg");
    color: white;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    
}
.nav-bar {
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center;
    padding: 0 50px; /* Adjust padding to provide spacing */
    background-color: #87CEEB;
    color: white;
    height: 70px; 
}

.logo {
    font-weight: bold;
    font-size: 1em;
}

.nav-right {
    text-align: right;
}

.nav-right a {
    padding: 0 15px; /* Adjust padding */
    text-decoration: none;
    color: white;
}

.nav-right a:hover {
    color: lightgray;
    cursor: pointer;
}


.main{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 100px;
    
}

.right a{
    padding: 40px;
    font-size: 15px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 30px;
    display: inline block;
    height: 40px;
    text-decoration: none;
    color: gray;
}
.right{
    margin-top: 70px;
    margin-right: 80px;
}
form { 
    max-width: 600px;
    margin: 15px auto; 
    padding: 15px; 
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button{ 
    display: block; 
    margin: 10px auto; 
    padding: 10px; 
    width: calc(100% - 20px); 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    box-sizing: border-box;
}

.post-btn{
    cursor: pointer;
}
.post-btn:hover{
    background-color: darkgray;
}

input[type="file"] {
    border-radius: 20px;
}

.container{
    margin-top: 100px;
}
.form-group{
    margin-bottom: 50px;
}
.delete {
    width: 100px;
    background-color: red;
    float: right;
    border: none; 
    color: white; 
    cursor: pointer; 
}

.form {
    display: inline; 
    margin: 0; 
    padding: 0; 
}

.edit, .cancel{
    width: 100px;
    background-color: #87CEEB;
    float:right;
    margin-right: 20px;
    color: white;
}
.cancel{
    background-color:gray;
}